.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.header-block {
  margin-left: 50px;
  margin-top: 20px;
  /* z-index: 1; */
}

.header__title {
  font-size: 48px;
  width: 640px;
  height: 180px;
  color: #2e3a59;
  font-weight: 500;
  line-height: 128%;
}

.header__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  color: #2e3a59;
  width: 533px;
  height: 300px;
  margin-top: 24px;
}

.header__text-one {
  margin-bottom: 20px;
}

.header_info {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #2e3a59;
  margin-top: -70px;
  padding-bottom: 20px;
}
.header__download {
  margin-top: 7%;
}
.header_button {
  margin-left: -50px;
}

.header__titleMobile {
  display: none;
}
.header__text-oneMobile {
  display: none;
}

.img-header_first {
  margin-right: 130px;
  width: 507px;
  height: 600px;
}


.header_elipse_1 {
  position: relative;
  left: 64%;
  z-index: -8;
}

.header_elipse_2 {
  position: relative;
  right: -12%;
  top: 15%;
  z-index: -5;
}
.header-download__mobile{
  display: none;
}
.ellipse__mobile{
  display: none;
}
.headerMobile-ellipse{
  display: none;
}
@media screen and (max-width: 900px) {
  .header_elipse_1 {
    display: none;
  }
  .header_elipse_2{
    display: none;
  } 
}
  


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-block {
    margin-left: 10px;
    margin-top: 0;
    font-size: 10px;
    
  }
  .header__title {
    font-size: 20px;
    color: #2e3a59;
    font-weight: 500;
    line-height: 128%;
  }


  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .header__title {
    display: none;
  }
  .header__text {
    display: none;
  }
  .header__titleMobile {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #2e3a59;
  }
 
  
  .header__text-oneMobile {
    display: block;
    color: #8f9bb3;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 60px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .header_info {
    display: none;
  }
  .header_button{
    display: none;
  }
  .header-download__mobile{
    max-width: 213px;
    max-height: 63px;
    display: block;
    display: flex;
    flex-direction: column;
     margin: 0 auto;
    padding-bottom: 50%;
     
  }
  .download-mobile{
    padding-bottom: 14px;
  }
  .img-header_first{
   width: 280px;
   height: 322px;
   margin-right: 0;
   margin-top: 20px;
  }
  .img-header{
    margin: 0 auto;
  }
  .ellipse__mobile{
    display: block;
    
  }
  .header_elipse__mobile-One{
    position: absolute;
    left: 0;
    
  }
  .header_elipse__mobile-Two{
    position: absolute;
    right: 0;
    
  }
  .header_elipse__mobile-Three{
    position: absolute;
    left: 0;
    top: 51%;
    
  }
  .header_elipse__mobile-Four{
    position: absolute;
    right: 11%;
    top: 55%;
    
  }
  .header_elipse__mobile-Five{
    position: absolute;
    right: 9%;
    top: 58%;
    
  }
  .header_elipse__mobile-Six{
    position: absolute;
    right: 18%;
    top: 61%;
    z-index: -12;
    
  }
  .headerMobile-ellipse{
    display: block;
  }

  .elipse__mobile-One{
    position: absolute;
    top: 137%;
    right: 15%;

  }
  .elipse__mobile-Two{
    position: absolute;
    top: 165%;
    right: 0;
  }
  .elipse__mobile-Three{
    position: absolute;
    top: 250%;
    left: 0;
    
  }
}
