
.support-container {
  background-color: #F7F9FC;
  max-width: 100%;
  margin-top: 40px;
}

.support-header {
  padding-top: 50px;
 
  margin-top: 70px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  color: #222b45;
}
.support-header__info {
  text-align: center;
  margin-top: 19px;
  color: #192038;
  font-size: 24px;
  font-weight: 400;
  
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 115px;
  padding-bottom: 50px;
}
