.card {
  width: 300px;
  display: flex;
  flex-wrap: wrap ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #525f7a;
}
.card__img {
  margin-bottom: 10px;
}
.card__title {
  font-size: 29px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #222b45;
  
}
.card__text {
 
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
 
  
}

.card + .card {
  margin-left: 50px;
  margin-top: 18px ;
    
}
