.card {
  width: 300px;
  display: flex;
  flex-wrap: wrap ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #525f7a;
}
.card-imgAll{
  width: 200px;
  height: 200px;
  
}

.card__title {
  font-size: 29px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #222b45;
  
}
.card__text {
 
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
 
  
}

.card + .card {
  
  margin-top: 28px ;
    
}
@media only screen and (max-width: 600px) {
  
}