.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 100px;
  
}
.navbar-container {
  position: fixed;
  background-color: rgb(255, 255, 255);
  padding-right: 50px;
  left: 0;
  right: 0;
  padding-left: 3%;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}
a {
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-weight: 500;
  line-height: 20px;
}
.navbar li {
  padding: 40px;
}
.hamburger {
  display: none;
}
.nav-item-hov a:hover {
  color: #5bcbdf;
  
  transition: all 0.5s ease-out;
  
}


.navbar h1,
a {
  color: #2e3a59;
}
@media screen and (max-width: 840px) {
  .hamburger {
    display: block;
  }
  .nav {
    position: relative;
    flex-direction: column;
    justify-content: start !important;
    margin-top: 30%;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 500%;
    background-color: #fff;
    z-index: 1 ;
    transition: 0.3s;
    
    
  }
  .nav.active {
    left: 0;
  }
  .img-navbar {
  margin-left: 23px;
  }

}

