.training {
  margin-top: 50px;
}

.training__title {
  color: #222b45;
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}
.img-ellipse {
  width: 903px;
  height: 534px;
}
.training-container {
  max-width: 1440px;
  background-image: url(/public/img/ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 850px;
}
.training-content {
  text-align: center;
  margin-bottom: 30px;
}

.frameCard {
  background-color: black;
}

.training-frame_card {
  min-height: 630px;
  display: flex;
  justify-content: space-around;
}

.training-frame__first-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px 0;
}

.training-frame__second-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.elliseCard{
  position: absolute;
  right: 8%;
  top: 418%;
  z-index: -12;
}
.training-frame__itemMobile{
  display: none;
}
.elipsePostsMobile{
  display: none;
}
.inner-blockEllipse{
  display: none;
}

 @media only screen and (max-width: 600px) {
  .training__title{
    display: none;
  }
  .elliseCard{
    display: none;
  }
  .training-container {
    
    background-image:none;
    
  }
  .training-frame__first-items{
    display: flex;
    flex-wrap: wrap;
  }
  .training-frame__itemMobile{
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;
    
  }
  .training-frame_card{
    display: none;
  }
  .elipsePostsMobile{
    display: block;
  }
  .postEllipseMobile1{
    position: absolute;
    right: 0;
    top: 417%;
    z-index: -30;
  }
  .postEllipseMobile2{
    position: absolute;
    right: 0;
    top: 425%;
    z-index: -30;
  }
  .postEllipseMobile3{
    position: absolute;
    left: 0;
    top: 445%;
    z-index: -30;
  }
  .postEllipseMobile4{
    position: absolute;
    left: 0;
    top: 455%;
    z-index: -30;
  }
  .postEllipseMobile5{
    position: absolute;
    right: 4%;
    top: 474%;
    z-index: -14;
    
  }
  .postEllipseMobile6{
    position: absolute;
    right: 0;
    top: 478%;
    z-index: -30;
  }
  .postEllipseMobile7{
    position: absolute;
    left: 0;
    top: 492%;
    z-index: -30;
  }
  .postEllipseMobile8{
    position: absolute;
    left: 0;
    top: 498%;
    z-index: -15;
    z-index: -30;
  }
  .inner-blockEllipse{
    display: block;
   
  }
  .innerEllipse1{
    position: absolute;
    top: 522%;
    right: 0;
  }
  .innerEllipse2{
    position: absolute;
    top: 650%;
    left: 0;
  }
  .innerEllipse3{
    position: absolute;
    top: 645%;
    right: 0;
  }
  
}