.post {
  max-width: 1440px;
  margin: 0 auto;
}
.post_title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
  letter-spacing: 0.02em;
  color: #222b45;
  margin-bottom: 100px;
}

.content-block {
  display: flex;
  flex-direction: column;
}
.cardsPost {
  margin-top: 40px;
}
.block {
  margin-left: 140px;
}
.content-block .block {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 3fr;
  gap: 40px;
  margin-top: 40px;
}
.content-block .block .descriptions-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.block .title {
  color: #25a9c0;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  margin-bottom: 20px;
}
.block .description {
  margin-right: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #2e3a59;
}
.post-button {
  margin-top: 100px;
  text-align: center;
  color: #2e3a59;
}
.post-button_title {
  font-size: 18px;
  font-weight: 500;
}
.post-button__btn {
  margin-top: 18px;
  margin-left: 450px;
  margin-bottom: 20px;
}
.postEllipseOne {
  position: absolute;
  left: 20%;
  top: 510%;
  z-index: -12;
}
.postEllipseTwo {
  position: absolute;
  right: 14%;
  top: 500%;
  z-index: -14;
}
.postEllipseThree {
  position: absolute;
  left: 9%;
  top: 565%;
  z-index: -11;
}
.postEllipseFour {
  position: absolute;
  right: 20%;
  top: 562%;
  z-index: -11;
}
.postEllipseFive {
  position: absolute;
  left: 6%;
  top: 635%;
  z-index: -11;
}
.postEllipseSix {
  position: absolute;
  right: 7%;
  top: 657%;
  z-index: -11;
}

.postEllipseSeven {
  position: absolute;
  left: 0;
  top: 805%;
  z-index: -12;
}
.postEllipseEight {
  position: absolute;
  right: 0;
  top: 805%;
  z-index: -12;
}
.postEllipseNine {
  position: absolute;
  left: 5%;
  top: 950%;
  z-index: -12;
}
.content-blockMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .content-block {
    display: none;
  }
  .post_title {
    display: none;
  }
  .post-button {
    display: none;
  }
  .content-blockMobile {
    display: block;
  }
  .blockMobile {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .titleMobile {
    font-size: 28px;
    color: #25a9c0;
    font-weight: bold;
    line-height: 140%;
    padding-bottom: 40px;
    text-align: center;
  }
  .card-post__imageMobile {
    width: 299px;
    height: 290px;
    padding-top: 10px;
  }
  .descriptions-contentMobile {
    color: #2e3a59;
    font-size: 18px;
    line-height: 140%;
    margin-top: 40px;
  }
  .elipseAll{
    display: none;
  }
}
