* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  font-family: Montserrat, sans-serif;
  background: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  /* background: #ffffff; */
  max-width: 1440px;
  height: 100%;
}

.btn {
  width: 129px;
  height: 20px;
  padding: 8px 16px;
  font-size: 1.2rem;
  background-color: #5bcbdf;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.btn-outline {
  background: transparent;
  color: #5bcbdf;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 495px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  


}
